<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guide to: Airbnb</title>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/journal/bootstrap.min.css">

   <!-- Marker Cluster JS & CSS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.js"></script>
   <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  
</head>
<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav">
               
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/LoriHarris/Air_bnb_app" target="_blank">Git Repo</a>
              </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" >Team Air Be and See / WAM</a>
                  </li>
              </ul>
    
          </div>
        </div>
      </div>

  <div class = "jumbotron">
    <!-- <div class = "container"> -->
    <canvas id="canvas-image-blending" width= "2000" height = "630"></canvas>
    </div>
    <div class = "container">
    <div class = "row">
      <div class = "col-md-6">
          <div class="well">
              <h3><h4curly>SELECT Neighborhood:</h3></h4curly>
                <select id="selDataset" onchange="optionChanged(this.value)">
                  <option></option>
                </select> 
                </div>
              </div>
  
   <div class = "col-md-6">
      <div class="well">
          <h3><h4curly>SELECT Listing:</h3></h4curly>
            <select id="selListing" onchange="optionChanged1(this.value)">
              <option></option>
            </select> 
            </div>
          </div>
   
        </div>
   
  <!-- The div that holds our map -->
  <div class="row">
     <!-- <div class="container"> -->
  
      <div class="col-md-8">
        <div id="map"></div>
      </div>
   
        <div class="col-md-4">
          <div class = "row">
                <!-- <iframe class="embed-responsive-item" name="theFrame"></iframe> -->
           <div class = "col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Neighborhood Stats</h3>
            </div>
            <div id="sample-metadata" class="table table-striped"></div>
          </div>
        </div> 
       </div>
       <div class = "row">
     
    
        <!-- <iframe class="embed-responsive-item" name="theFrame"></iframe> -->
        <div class = "col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Listing Stats</h3>
    </div>
    <div id="sample-listingdata" class="table table-striped"></div>
  </div>
  </div>
 </div>

</div>
</div>
</div>
      <script type="text/javascript" src="static/js/leaflet.extra-markers.min.js"></script>
      <script type="text/javascript" src="static/js/config.js"></script>
      <script type="text/javascript" src="static/js/logic.js"></script>
      <script type="text/javascript" src="static/js/app.js"></script>

  </body>

</html>