<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guide to: Airbnb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/journal/bootstrap.min.css">

   <!-- Marker Cluster JS & CSS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.js"></script>
   <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  
</head>
<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Cities<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="themes">
                  
                  <a class="dropdown-item" href="/">Home</a>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="New_Orleans.html">New Orleans</a>
                  <a class="dropdown-item" href="New_Orleans.html">New York</a>
                  <a class="dropdown-item" href="New_Orleans.html">Los Angeles</a>
                  <a class="dropdown-item" href="New_Orleans.html">Raleigh/Durham</a>
                
                </div>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/LoriHarris/Air_bnb_app" target="_blank">Git Repo</a>
              </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" >Team Air Be and See / WAM</a>
                  </li>
              </ul>
    
          </div>
        </div>
      </div>

  <div class = "jumbotron">
    <!-- <div class = "container"> -->
    <canvas id="canvas-image-blending" width= "2000" height = "630"></canvas>
    </div>
    <div class = "container">
    <div class = "row">
      <div class = "col-md-3">
          <div class="well">
              <h3><h4curly>Neighborhood:</h3></h4curly>
          </div>
        </div>
        <div class = "col-md-3">  
          <div class = "well">
        <select id="selDataset" onchange="optionChanged(this.value)">
                  <option></option>
                </select> 
                </div>
              </div>
  
   <div class = "col-md-3">
      <div class="well">
          <h3><h4curly>Explore a Listing:</h3></h4curly>
      </div>
    </div>
    <div class ="col-md-3">
                <select id="selListing" onchange="optionChanged1(this.value)">
              <option id="option"></option>
            </select> 
            </div>
          </div>
   
        
      
 
      <div class = "row">
        
         
    
          <!-- <iframe class="embed-responsive-item" name="theFrame"></iframe> -->
          <div class = "col-md-12">
              <table class="table table-responsive table-striped table-hover ">
                    <thead class="thead-dark">
                     
                        <tr>
                        <th>Price</th>
                        <th>Listing Type</th>
                        <th>Bedrooms</th>
                        <th>Baths</th>
                        <th>Total Beds</th>
                        <th>Minimum Nights</th>
                        <th>Walk Score</th>
                        <th>Bike Score</th>
                        <th>Transit Score</th>
                        
                      </tr>
                    </thead>  
                    <tbody>
                      <tr id="row">
                     
                      <td id ="price"></td>
                        <td id="ltype"></td>
                        <td id = "br"></td>
                        <td id="bath"></td>
                        <td id="beds"></td>
                          <td id="min"></td>
                        
                          <td id="walk"></td>
                          <td id="bike"></td>
                          <td id="transit"></td>
                      </tr>
                     </tbody>
                     </table>
                    </div>
                  </div>

     <!-- <div class="container"> -->
  <div class = "row">
      <div class="col-md-12">
        <div id="map"></div>
      </div>
      
    </div>
  
              

  </body>
      <script type="text/javascript" src="static/js/leaflet.extra-markers.min.js"></script>
      <script type="text/javascript" src="static/js/config.js"></script>
      <script type="text/javascript" src="static/js/logic.js"></script>
      <script type="text/javascript" src="static/js/app.js"></script>



</html>