<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guide to: Airbnb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/journal/bootstrap.min.css">

   <!-- Marker Cluster JS & CSS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.js"></script>
   <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
   <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Playfair+Display|Playfair+Display+SC" rel="stylesheet">


  
</head>
<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/" target="_blank">Air Be & See</a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Listings by City<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="themes">
                  
                  <a class="dropdown-item" href="/">Home</a>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="New_Orleans.html">New Orleans</a>
                  <a class="dropdown-item" href="Coming_Soon.html">New York</a>
                  <a class="dropdown-item" href="Coming_Soon.html">Los Angeles</a>
                  <a class="dropdown-item" href="Coming_Soon.html">Raleigh/Durham</a>
                
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Neighborhood Comparisons<span class="caret"></span></a>
                  <div class="dropdown-menu" aria-labelledby="themes">
                    
                    <a class="dropdown-item" href="/">Home</a>
                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="Visualizations.html">New Orleans</a>
                    <a class="dropdown-item" href="Coming_Soon.html">New York</a>
                    <a class="dropdown-item" href="Coming_Soon.html">Los Angeles</a>
                    <a class="dropdown-item" href="Coming_Soon.html">Raleigh/Durham</a>
                  
                  </div>
                </li>
              
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/LoriHarris/Air_bnb_app" target="_blank">Git Repo</a>
                  </li>
              </ul>
    
          </div>
        </div>
      </div>
  
  <div class = "jumbotron">
    <!-- <div class = "container"> -->
    <canvas id="canvas-image-blending" width= "2100" height = "630"></canvas>
    </div>
  
    
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <header>
                    <h1><strong>Calendar data</strong></h1>
                </header>
                <img id="image1" src="..\templates\images\calendar_data.png" alt="Calendar data" class="img-fluid clearfix">
                <p>As of March 2019, we had 365 days of data (3/6/2019 - 3/4/2020) and 6632 unique listings.</p>
            </div>
            <div class="col-md-6">
                <img id="image1" src="..\templates\images\booked_no_cal.png" alt="Availability" class="img-fluid clearfix">
                <p>For New Orleans, the busiest months month was March (likely around Mardi Gras). Another spike is evident in July and then rentals increase after September and begin a climb towards the next March</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <header>
                    <h2>Price analysis</h2>
                </header>
                <img id="image1" src="..\templates\images\price_by_mo_cal.png" alt="Avg Monthly Price" class="img-fluid clearfix">
                <p>Prices are highest in January and February.</p>
            </div>
            <div class="col-md-6">
                <img id="image1" src="..\templates\images\price_by_wkday.png" alt="Availability" class="img-fluid clearfix">
                <p>Prices increase over the weekend (Friday and Saturday).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <header>
                    <h1><strong>Listing data</strong></h1>
                </header>
                <img id="image1" src="..\templates\images\neighborhoods.png" alt="Listing data" class="img-fluid clearfix">
                <p>As of March 2019, Central Business District has the most listings.</p>
            </div>
            <div class="col-md-6">
                <img id="image1" src="..\templates\images\review_scores.png" alt="Review Scores" class="img-fluid clearfix">
                <p>Most reviewers will leave a high score. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <header>
                    <h2>Price analysis</h2>
                </header>
                <img id="image1" src="..\templates\images\ngbhd_by_price_under1k.png" alt="Neighborhood data" class="img-fluid clearfix">
                <p>Most expensive listing: $8,000 a night!</p>
                <p>For further analysis, eliminated the options priced over $1,000/night. Central Business District, while having the most listings, is in the top ten for price. Lakewood is the most expensive; Viavant is the least.</p>
            </div>
            <div class="col-md-6">
                <img id="image1" src="..\templates\images\property_by_price_under1k.png" alt="Property Types" class="img-fluid clearfix">
                <p>Dome house is the most expensive (only one listing), followed by chalet. Farm stay or hostel are the cheapest options.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img id="image1" src="..\templates\images\room_by_price_under1k.png" alt="Room Type" class="img-fluid clearfix">
                <p>Entire house is most expensive.</p>
            </div>
            <div class="col-md-6">
                <img id="image1" src="..\templates\images\common_amenities_under1k.png" alt="Amenities" class="img-fluid clearfix">
                <p>Air conditioning, heating, essentials, wifi, and smoke detector are the most common amenities.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <header>
                    <h2>Random Forest Generator</h2>
                </header>
                <img id="image1" src="..\templates\images\random_forest_r2.png" alt="Random Forest" class="img-fluid clearfix">
            </div>
            <div class="col-md-6">
                <img id="image1" src="..\templates\images\random_forest_amenities.png" alt="Random Amenities" class="img-fluid clearfix">
                <p>Bedrooms are weighted highest of the amenities.</p>
            </div>
        </div>
    </div>
</body>
</html>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="plot"></div>
                        </div>
                    <div class="col-md-6">
                        <div id="plot2"></div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div id="plot3"></div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>


  </body>
      <script type="text/javascript" src="static/js/leaflet.extra-markers.min.js"></script>
      <script type="text/javascript" src="static/js/config.js"></script>
      <script type="text/javascript" src="static/js/info_page.js"></script>
      <script type="text/javascript" src="static/js/data.js"></script>
      <script type="text/javascript" src="static/js/plots.js"></script>
      



</html>